* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh; /* Fallback for browsers that don't support dvh */
  min-height: 100dvh; /* For modern browsers */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}


